doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Turtle Twins
    link(rel='stylesheet', href='components/game/game.css')
  body.level-1
    .container
      .panel
      .main

    - var dr = 'components/'

    // Components
    script(src=dr + 'helpers/helpers.js')

    script(src=dr + 'grid/grid.js')

    script(src=dr + 'sounds/sounds.js')

    script(src=dr + 'panel/panel.js')

    script(src=dr + 'board/board.js')

    script(src=dr + 'level/level.js')

    // Game
    script(src=dr + 'game/game.js')